@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    background-image: url(../images/LoginBackground.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 20px 0 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.right {
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 205, 0.7));
    /* Darker gradient */
}

.rightLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items vertically */
    text-align: center;
    /* Center text horizontally */
    color: white;
}

.imgRight {
    height: 40vh;
    width: 40vh;
    margin-bottom: -30px;
}

.submitLeft {
    border: 1px solid white;
    color: white;
    outline: none;
    position: center;
    height: 45px;
    width: 25vh;
    background: transparent;
    border-radius: 5px;
    transition: .4s;
    margin-bottom: 10px;
    margin-top: 20px;
}

.submitLeft:hover {
    background: #00274C;
    color: #fff;
}

.loginForm {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    color: #fff;
    font-size: 20px;
}

i {
    font-weight: 400;
    font-size: 15px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.registerAdminLogo {
    margin-bottom: 10px;
    width: 15vh;
    height: 15vh;
}

.input-box header {
    font-weight: 700;
    margin: 0 auto 15px;
}

.error {
    font-size: 18px;
    text-align: left;
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin-top: -10px;
    margin: 10px auto;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field input:focus~label {
    top: -10px;
    font-size: 13px;
}

.input-field input:valid~label {
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}

.input-field .input:focus,
.input-field .input:valid {
    border-bottom: 1px solid #00274C;
}

.submit {
    border: none;
    outline: none;
    position: center;
    height: 45px;
    width: 25vh;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
    margin-bottom: 10px;
}

.submit:hover {
    background: #00274C;
    color: #fff;
}

.forgot {
    text-align: center;
    font-size: small;
    margin-bottom: 10px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}

span a:hover {
    text-decoration: underline;
    color: #00274C;
}

.auto-resize {
    min-height: 5px;
    overflow: hidden;
    resize: none;
}

.card {
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.administratorRegistration,
.alumniRegistration {
    text-decoration: none;
}

.administratorRegistration:hover .card {
    background-color: #1E90FF;
    color: white;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5),
        0 0 30px rgba(0, 0, 255, 0.5);
}

.alumniRegistration:hover .card {
    background-color: #7B68EE;
    color: white;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5),
        0 0 30px rgba(123, 104, 238, 0.5);
}

.alumniIcon,
.administratorIcon {
    width: 20vh;
    height: 20vh;
}

/* Define the slide-in animation from the top */
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply the animation to the form */
form {
    animation: slideInFromTop 0.5s ease-in-out;
}
  

@media only screen and (max-width: 768px) {
    .loginForm {
        border-radius: 0;
    }

    .scrollable-form {
        max-height: 80vh;
        overflow-y: auto;
        border-radius: none;
    }

    .midheader {
        margin-top: -20px;
    }

    .left {
        border-radius: 10px 10px 0 0;
    }

    .right {
        border-radius: 0;
    }

    .imgRight {
        display: none;
    }

    .registerAdminLogo {
        display: none;
    }

    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }

    .text p,
    i {
        font-size: 16px;
    }

    .loginForm {
        width: 100%;
        margin: 0;
    }
}